<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kwanat.mma_mobilemanagementassistant">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo2"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo2"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".StartActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".AddUserActivity" />
        <activity android:name=".ChangeUserActivity" />
        <activity android:name=".AddMessage" />
        <activity android:name=".MessageDetailsActivity" />
        <activity android:name=".ShowEmployeeList" />
        <activity android:name=".AddVacationRequest" />
        <activity android:name=".ShowVacationRequests" />
        <activity android:name=".BaseActivity" />
        <activity android:name=".ChangePasswordActivity" />
        <activity android:name=".ShowUserVacationActivity" />
        <activity android:name=".ShowWarehouseActivity" />
        <activity android:name=".AddNewProductActivity" />
        <activity android:name=".ScheduleActivity" />
        <activity android:name=".OwnerScheduleActivity" />
        <activity android:name=".UserScheduleActivity"></activity>
    </application>

</manifest>